@use '../../variables.scss' as *;
@use '../../mixin.scss' as *;

.input_row {
  margin-bottom: 20px;
}

/* ラベル
----------------------------------------------------------------- */
.text_label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.text_count {
  font-size: 12px;
  color: #bfbcbc;
}

.image_label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 1px solid $tag_color;
  border-radius: 4px;
  padding: 6px;
  color: $tag_color;
  svg[data-icon='file-image'] {
    margin-right: 5px;
    font-size: 16px;
  }
}

/* フォームパーツ
----------------------------------------------------------------- */
.form_parts {
  // テキストフィールド
  &.input_text {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid $base_border_color;
    background: #fff;
    font-size: 14px;
    @include placeholder {
      font-size: 14px;
      color: #757575;
    }
    &:disabled {
      background: $base_border_color;
    }
  }
  // ファイル投稿フォーム
  &.input_image {
    display: none;
  }
}

/* タグ登録フォーム
----------------------------------------------------------------- */
.tag_form {
  max-width: 300px;
}

.tags {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  .tag {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    color: $tag_color;
    background: $tag_bg_color;
  }
  .tag_remove {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    padding: 7px;
    border: 1px solid $tag_color;
    line-height: 1;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7px;
      height: 1px;
      background: $tag_color;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7px;
      height: 1px;
      background: $tag_color;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

/* 設問登録
----------------------------------------------------------------- */
.choice_create {
  padding: 8px;
  border: 1px solid $base_text_color;
  background: $light_bg_color;
}

/* 送信ボタン
----------------------------------------------------------------- */
.submit_button {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid $tag_color;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: $tag_color;
  transition: all 0.1s linear;
  &:hover {
    background: $tag_color;
    color: #fff;

  }
}

/* エラーメッセージ
----------------------------------------------------------------- */
.error_area {
  display: block;
  padding: 8px;
  background: #f1a6a6;
  .error_text {
    color: #b42424;
  }
}