@use '../../variables.scss' as *;

.footer {
  background: $footer_bg_color;

  .footer_inner {
    position: relative;
    width: $content_width;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 10px 10px 20px;
  }

  .footer_nav_button {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  /* コピーライト */
  small {
    display: block;
    text-align: center;
  }
}
