@use '../../variables.scss' as *;
@use '../../mixin.scss' as *;

.header {
  background: $header_bg_color;

  .header_inner {
    position: relative;
    width: $content_width;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 8px;
  }

  nav {
    display: flex;
    gap: 20px;
  }

  .header_nav_button {
    @include fontRound;
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 12px;
    font-weight: 500;
  }

  .header_button_wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header_nav_button_login {
    padding: 0 8px;
  }
}
