/* Common
----------------------------------------------------------------- */
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px 16px;
}

.heading_main {
  margin-bottom: 20px;
  text-align: center;
}
