@use './common.scss';

/* main visual
----------------------------------------------------------------- */
.main_visual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #ddd;
}

/* TOP
----------------------------------------------------------------- */
.ranking {
  .ranking_list {
    list-style: none;
    li {
      &:not(:first-child) {
        margin-top: 10px;
      }

      a {
        display: flex;
        overflow: hidden;
        border-radius: 8px;
        background: #fff;
        transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        &:hover {
          box-shadow: 0 2px 8px #5e5d406b;
          transform: translateY(-6px);
        }
      }

      .thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        min-height: 100px;
        padding: 16px;
        background: #ddd;
        p {
          font-size: 16px;
          font-weight: bold;
        }
      }

      .detail {
        padding: 16px;
        .title {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: bold;
        }
        .detail_text {
          font-size: 12px;
        }
      }
    }
  }
}

/* アンケート詳細（投票画面）
----------------------------------------------------------------- */
.wrapper {
  max-width: 98%;
  margin: 0 auto;
  padding: 8px 0 40px;
}

.md_container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 32px 8px;
}

.questionnaire {
  background: #fff;

  .questionnaire_description {
    text-align: center;
  }

  .tags {
    .tag_list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      list-style: none;
      li {
        color: #3B5998;
        &::before {
          content: "#";
        }
      }
    }
  }

  .result {
    .result_bar {
      display: flex;
      justify-content: space-between;
      width: 500px;
      height: 30px;
      margin: 50px auto;
    }
    .result_1 {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      background: #D26463;

      .number {
        position: absolute;
        z-index: 1;
        right: 100%;
        margin-right: 10px;
        font-weight: 900;
        font-size: 28px;
        color: #D26463;
        
        .percent {
          font-size: 12px;
          font-weight: 900;
        }
      }
    }
    .result_2 {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      background: #1F4E78;

      .number {
        position: absolute;
        z-index: 1;
        left: 100%;
        margin-left: 10px;
        font-weight: bold;
        font-size: 28px;
        color: #1F4E78;

        .percent {
          font-size: 12px;
          font-weight: 900;
        }
      }
    }
  }

  .choices {
    .choice_row {
      &:not(:first-child) {
        margin-top: 5px;
      }

      input[type=radio] {
        display: none;

        &:checked + label {
          border: 2px solid #a1d1d1;
          background: #e0fdfd;
        }
      }

      label {
        display: block;
        cursor: pointer;
        padding: 16px;
        border: 2px solid #bbb;
        border-radius: 8px;
      }
    }
  }
}
